<div class="container-fluid">
  <div class="row">
    <h1>
      Welcome to Stock Calculator.
    </h1>
  </div>
  <div class="row">
    <div class="col">
      <h2>Specify a link for source data: </h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input class="source-url" type="text" [(value)]="sourceUrl" placeholder="url to source data" />
    </div>
    <div class="col">
      <button [disabled]="loading" (click)="parseData()">{{loading ? "Loading..." : "Process data"}}</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-bordred table-striped" *ngIf="totals && totals.length > 0">
        <thead>
          <tr>
            <th>Product name</th>
            <th>Amount in stock</th>
            <th>Total Balance</th>
          </tr>
        </thead>
        <tr *ngFor="let total of totals">
          <td>{{total.productName}}</td>
          <td>{{(total.amountInStockInGrams / 1000).toFixed(2)}} KG</td>
          <td [ngClass]="{'text-danger': total.balanceInCents < 0, 'text-success': total.balanceInCents >= 0 }">{{total.currency}}{{(total.balanceInCents / 100).toFixed(2)}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>